html {
    height: 100%;
    width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
    text-align: center;
    color: ivory;
    font-size: 1.3rem;
	font-weight: 500;
	width: 100%;
}

footer > p {
	margin-bottom: 0.5rem;
}