<%- include('../partial/header', {cssStyles: ['/stylesheets/shitgrounds/show.css']}); %>
	<main>
		<h1>
			<%= ground.name %>
		</h1>

		<span>
			<%= ground.description %>
		</span>
	</main>
	<% include ../partial/footer %>